<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
  <div>
    <a href="/post/{{post.id}}">{{post.title}}</a>
    <p>Posted by {{user.username}} on {{format_date post.date}}</p>
    <p>{{post.content}}</p>
  </div>
{{/each}}
