<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="container">
  <div class="row banner">
    <a href="/post/{{post.id}}" class="title">{{post.title}}</a>
    <p class="timeStamp">Posted by {{user.username}} on {{format_date post.date}}</p>
  </div>

  <div class="row content-box">
    <p class="content">{{post.content}}</p>
  </div>

</div>
{{/each}}