<div>
  <a href="/post/{{posts.id}}">{{posts.title}}</a>
  <p>Posted by {{user.username}} on {{format_date posts.date}}</p>
  <p>{{posts.content}}</p>
</div>

{{#each comments as |comment| }}
<div>
  <p>{{comment.content}}</p>
  <p>- {{username}}, {{format_date comment.date}}</p>
</div>
{{/each}}

<form>
  <div>
    <label for="comment">Comment</label>
    <input type="text" id="comment">
  </div>
  <button type="submit">Update</button>
  </div>

</form>